{% extends 'admin_site/base.html' %}


{% block content %}

  
     <br>
     <div class="fw-bolder">
      <label for="">Online Sales</label>
      <input type="text" style="font-weight: bolder;" value="{{ transaction_OnlineSales }}"  class="form-control" readonly>
       <br>
       <label for="">Walk-in Sales</label>
      <input type="text" style="font-weight: bolder;" value="{{ transaction_pos_payment }}"  class="form-control" readonly>
      <br>
      <label for="">Overall Transaction</label>
      <input type="text" style="font-weight: bolder;" value="{{ transaction_count }}"  class="form-control" disabled>
      <br>
      <label for="">Pending Order</label>
      <input type="text" style="font-weight: bolder;" value="{{ transaction_pending }}"  class="form-control" disabled>
      <br>
      <label for="">Out for Delivery</label>
      <input type="text" style="font-weight: bolder;" value="{{ transaction_shipped }}"  class="form-control" disabled>
      <br>
      <label for="">Completed</label>
      <input type="text" style="font-weight: bolder;" value="{{ transaction_completed }}"  class="form-control" disabled>
      <br>
      <label for="">Decline Order</label>
      <input type="text" style="font-weight: bolder;" value="{{ transaction_decline }}"  class="form-control" disabled>
     </div>

   
{% endblock content %}
    