{% extends 'admin_site/base.html' %}


{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
               <th>dsa</th>
               <th>dsa</th>
               <th>dsa</th>
               <th>dsa</th>
               <th>dsa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>dsa</td>
                <td>dsa</td>
                <td>dsa</td>
                <td>dsa</td>
                <td>dsa</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}