{% extends 'admin_site/base.html' %}


{% block content %}


{% for message in messages %}
<p class="alert alert-success" >{{ message }}</p>
    
{% endfor %}
{% if list_transaction %} 
    
    <table class="table table-hover text-center" >
        <thead>
            <tr>
               <th>Transaction ID</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Address</th>
               <th>Contact No</th>
               <th>Total Amount</th>
               <th>Date</th>
               <th>Status</th>
               <th></th>
               <th></th>
           
        
        
            </tr>
        </thead>
        
    
        <tbody>
            {% for list in list_transaction %}
            <tr>
                <td>{{ list.transaction_no }}</td>
                <td>{{ list.transaction_fname }}</td>
                <td>{{ list.transaction_lname }}</td>
                <td>{{ list.transaction_address }}</td>
                <td>{{ list.transaction_contactno }}</td>
                <td>{{ list.transaction_totalprice }}</td>
                <td>{{ list.created_at}}</td>
                <td>{{ list.transaction_orderstatus }}</td>
                <td><a href="" class="btn btn-dark">View</a></td>

                <form action="{% url 'rider_site:orders_completed' list.id %}" method="POST">
                    {% csrf_token %}
                <td><input type="submit" class="btn btn-dark" name="submit" value="Delivered"></td>
                </form>
            
               
               </form>
           
           
            </tr>
            {% endfor %}
        </tbody>
    
   

    </table>
    {% endif %}
{% endblock content %}