{% extends 'admin_site/base.html' %}


{% block content %}



{% for messsage in messages  %}
<p class='alert alert-success mt-3'>{{messsage}}</p>
{% endfor %}
<form action="{% url 'admin_site:search_inventory' %}" method="GET" class="my-2">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="search" required>
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </div>
</form>
    
    
{% if list_products %}
<table class="table table-hover text-center">
    
    <thead>
    <tr>
        <th>Product code </th>
        <th>Category</th>
        <th>Product Name</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Available Stock</th>
        <th>Status</th>
        <th>Expiry Date</th>
        <th>quantity</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        
        {% for list in list_products %}   
    <tr>
        <td>{{ list.product_code }}</td>
        <td>{{ list.product_category }}</td>
        <td>{{ list.product_name }}</td>
        <td>{{ list.product_size }}</td>
        <td>{{ list.product_price }}</td>
        <td>{{ list.product_stock }}</td>
        <td>{{ list.product_status }}</td>
        <td>{{ list.product_expiry }}</td>

        <form action="{% url 'admin_site:update_inventory' list.id %}" method="POST">
        {% csrf_token %}
        <td><input type="number" name="quantity" style="text-align:right;" placeholder="0" required></td>
        <td><input type="submit" name="submit" class="btn btn-dark" value="Add Stock"></td>
        <input type="hidden" name="stock" value="{{ list.product_stock }}">
        </form>
    </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock content %}
    