{% extends 'admin_site/base.html' %}



{% block content %}
    <br>
    <a href="{% url 'admin_site:all_products' %}" class="btn btn-dark">Select Products</a>
    <br>
    <form action="{% url 'admin_site:search_product' %}" method="get" class="my-3 ">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="search" required>
            <div class="input-group-append">
                <button class="btn btn-success">Search</button>
            </div>
        </div>
    </form>
    
    
    {% for message in messages %}
    <p class="alert alert-success mt-3">{{ message }}</p>
    {% endfor %}
        
        
    
  
  

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Category</th>
                <th>Product Name</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th></th>
                <th></th>
             
            </tr>
            {% if list_pos %}
            <tbody>
                
                {% for list in  list_pos %}       
                <tr>
                    <td>{{ list.pos_pcode }}</td>
                    <td>{{ list.pos_category }}</td>
                    <td>{{ list.pos_name }}</td>
                    <td>{{ list.pos_size }}</td>
                    <td>{{ list.pos_price }}</td>
                    <td><a href="{% url 'admin_site:minus_qty' list.id  %}" class="btn btn-dark">-</a> <button class="btn btn-success" >{{ list.pos_quantity }}</button>  <a href="{% url 'admin_site:add_qty' list.id  %}" class="btn btn-dark">+</a></td>
                    <td>{{ list.pos_amount }} </td>
                    <td><a href="{% url 'admin_site:pos_cancel' list.id %}" class="btn btn-dark">Cancel</a>  </td>
                   

                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </thead>
    </table>

    <br>

    
  
    
    {% if list_pos %}         
    <form action="{% url 'admin_site:pos_compute' %}" method="POST">
        {% csrf_token %}
          
    
        {% if user.role == "admin"%}
        <label for="">Total Amount:</label>
        <input type="text" name="total_amount" value="{{ sum_amount.data }}" class="form-control" disabled>

        <label for="">Cash</label>
        <input type="text" name="cash" class="form-control">
         <br>
         <label for="">Change</label>
         <input type="text" value="{{ c }}">
         <input type="submit" class="btn btn-success " name="submit">
         {% elif user.role == "staff" %}
         <label for="">Total Amount:</label>
         <input type="text" name="total_amount" value="{{ sum_amount.data }}" class="form-control" disabled>
 
         <label for="">Cash</label>
         <input type="text" name="cash" class="form-control">
         <br>
         <label for="">Change</label>
         <input type="text" value="{{ c }}">
         <input type="submit" class="btn btn-success " name="submit">
         {% endif %}
        <br>
    </form>
    {% endif %}
    
    
    {% if list_pos %}

    {% if user.role == "reseller" %}
    <div class="text-end">
    <a href="{% url 'reseller_site:checkout' %}" class="text-end  btn btn-dark">Checkout</a>
    </div>
    {% endif %}

    {% endif %}
    

   
   
{% endblock content %}
    