
{% extends 'admin_site/base.html' %}



{% block content %}



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- <script>
    {% for message in messages %}
         swal('{{ message }}');
    {% endfor %}
</script> -->
{% for message in messages %}
<p class="alert alert-success mt-3">{{ message }}</p>
{% endfor %}
<a href="{% url 'admin_site:all_products' %}" class="btn btn-dark">Select Products</a>
{% if list_pos %}
   
    <br>
    <form action="{% url 'admin_site:search_product' %}" method="get" class="my-3 ">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="search" required>
            <div class="input-group-append">
                <button class="btn btn-success">Search</button>
            </div>
        </div>
    </form>

    
    
    
        
    
  


    <table class="table table-hover text-center" >
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th></th>
                <th></th>
             
            </tr>
         
            <tbody>
                
                {% for list in  list_pos %}       
                <tr>
                    <td>{{ list.pos_pcode }}</td>
                    <td>{{ list.pos_name }}</td>
                    <td>{{ list.pos_category }}</td>
                    <td>{{ list.pos_unit }}</td>
                    <td>{{ list.pos_price }}</td>
                    <td>
                        <a href="{% url 'admin_site:minus_qty' list.id  %}" class="btn btn-dark">-</a> <button class="btn btn-success" >{{ list.pos_quantity }}</button>  <a href="{% url 'admin_site:add_qty' list.id  %}" class="btn btn-dark">+</a></td>
                    <td>{{ list.pos_amount }} </td>

                    <form  method="POST"  action="{% url 'admin_site:pos_cancel' list.id %}" onsubmit="return submitForm(this);">
                        {% csrf_token %}
                    <td><button type="submit" class="btn btn-dark">Cancel</button></td>
                    <input type="hidden" name="current_pcode" value="{{ list.pos_pcode }}">
                    <input type="hidden" name="current_qty" value="{{ list.pos_quantity }}">
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        
        </thead>
    </table>
    {% endif %}

    <br>

    

    
  
    
    {% if list_pos %}         



    
          
   
        {% if user.role == "admin"%} 
        <label style="font-weight: bolder;">Total Amount:</label>
        <input type="number" name="amount" style="font-weight: bolder;" value="{{ sum_amount }}" class="form-control" id="total_amount" disabled> 
       
        <!-- <input type="text" id="total_amount"> -->
         
        <label for="">Cash</label>
        <p id="msg" style=" display:none;"></p>
        <input type="number" name="cash" class="form-control" id="cash">
         <br>
         <label for="">Change</label>
         <input type="number" name="cash" class="form-control" id="change" disabled>
        
     

         <button id="btn_compute" class="btn btn-success" hidden>compute</button>
         <button   class="btn btn-success">Print</button>




         {% elif user.role == "staff" %}
         <label style="font-weight: bolder;">Total Amount:</label>
         <input type="number" name="amount" style="font-weight: bolder;" value="{{ sum_amount }}" class="form-control" id="total_amount" disabled> 
        
         <!-- <input type="text" id="total_amount"> -->
         <p id="msg"></p>
         <label for="">Cash</label>
         <input type="number" name="cash" class="form-control" id="cash">
          <br>
          <label for="">Change</label>
          <input type="number"  class="form-control"  id="change" disabled>
         
      
 
          <button   class="btn btn-success" id="btn_compute">compute</button>
          <button   class="btn btn-success">Print</button>
 
        
        {% endif %}
        <br>

    {% endif %}
    
    
    {% if list_pos %}

    {% if user.role == "reseller" %}
    <label style="font-weight: bolder;">Total Amount:</label>
    <input type="text" name="amount"  style="font-weight: bolder;" value="{{ sum_amount}}" class="form-control" id="total_amount" disabled>
    <br>
    <div class="text-end">
    <a href="{% url 'reseller_site:cart_reseller' %}" class="text-end  btn btn-dark">Checkout</a>
    </div>
    {% endif %}

    {% endif %}

    
   
    <script>
      
        function submitForm(form) {
            swal({
                title: "Are you sure?",
                text: "This Product will be cancelled",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then(function (isOkay) {
                if (isOkay) {
                    form.submit();
                }
            });
            return false;
        }
    </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    

    $(document).ready(function () {
        $(btn_compute).on('click', function () {
            var total_amount = parseInt($('#total_amount').val())
            var cash = parseInt($('#cash').val())
            var result =  cash - total_amount
            var msg = $('#msg')
          
            if(cash > total_amount){
                $('#change').val(result)
             

            }else{
                $('#msg').css("color", "red")
                // $('#msg').css("fontSize", "20px")
                $('#msg').css("display", "block")
                msg.html('<i class="msg">Invalid Payment<i/>')
                setTimeout(function (){
                    $('.msg').remove()
                },3000)
            }
          
            
        })
        
        $('#btn_compute').removeAttr('hidden')



    })


</script>


{% endblock content %}





    


    