{% extends 'admin_site/base.html' %}


{% block content %}
<form action="{% url 'admin_site:search_product' %}" method="get" class="my-2">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="search" required>
        <div class="input-group-append">
            <button class="btn btn-success">Search</button>
        </div>
    </div>
</form>
<h2>Search Results:</h2>

{% if list_products %}
<form action="" class="text-end ">
    <input type="text" placeholder="Search Products" required>
    <button class="btn btn-dark">Search</button>
</form>
        
<table class="table table-hover text-center">
    
    <thead>
    <tr>
        <th>Product code </th>
        <th>Flavor</th>
        <th>Category</th>
        <th>Size</th>
        <th>Price</th>
        <th>Available Stock</th>
        <th>Status</th>
        <th>Expiry Date</th>
        <th>quantity</th>
        <th>Action</th>
     
    </tr>
    </thead>
    <tbody>
        
        {% for list in list_products %}   
    <tr>
        <td>{{ list.product_code }}</td>
        <td>{{ list.product_category }}</td>
        <td>{{ list.product_name }}</td>
        <td>{{ list.product_size }}</td>
        <td>{{ list.product_price }}</td>
        <td>{{ list.product_stock }}</td>
        <td>{{ list.product_status }}</td>
        <td>{{ list.product_expiry }}</td>

        <form action="{% url 'admin_site:update_inventory' list.id %}" method="POST">
        {% csrf_token %}
        <td><input type="text" name="quantity" style="text-align:right;" placeholder="0.00" required></td>
        <td><input type="submit" name="submit" class="btn btn-dark" value="Add Stock"></td>
        <input type="hidden" name="stock" value="{{ list.product_stock }}">
        </form>
    </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


   
{% endblock content %}
    